@charset "UTF-8";

.pessoa {
   display: flex;
   flex-direction: column;
}

@media screen and (min-width: 0){
   .pessoa {
      margin-bottom: 2rem;
   }
}

@media screen and (min-width: 1000px){
   .pessoa {
      margin-bottom: 0;
   }
}